<!-- Playground, changing the number of box display on screen as the url change -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome!</h1>
    <div>
    {% for x in range(0, num_times): %}
        <div class="test" style="background-color: {{changecolor}};">Hello</div>
    {% endfor %}
    </div>
</body>
</html>