*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 870px;
    border: 1px solid black;
    margin: 20px;
    text-align:left;
    padding-left: 20px;
}
h1{
    font-size: 20px;
    margin-bottom: 10px;
}
p{
    margin-bottom: 10px;
}