*{
    margin: 0;
    padding: 0;
}
.wrapper{
    padding-top: 20px;
    padding-left: 30px;
}
.title{
    margin-left: 50px;
}
button{
    margin-left: 90px;
}
.input,.booktable{
    display: inline-block;
    vertical-align: top;
}
.booktable{
    margin-left: 100px;
}
table{
    border: 1px solid black;
}
    th{
        width: 100px;
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-right: 1px solid black;
    }
    td{
        border-left: 1px solid black;
        border-right: 1px solid black;
    }