<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="wrapper">
        <h1>Registration</h1>
        <form action="/register" method="POST">
            {% csrf_token %}
            <p>First Name: <input type="text" name="first_name"></p>
            <p>Last Name: <input type="text" name="last_name"></p>
            <p>Email: <input type="text" name="email"></p>
            <p>Birthday: <input type="date" name="dob"></p>
            <p>Password: <input type="text" name="password"></p>
            <p>Confirm PW: <input type="text" name="confirm"></p>
            <button type="submit">Register</button>
        </form>
    </div>
    <div class="wrapper2">
        <h1>Login</h1>
        <form action="/login" method="POST">
            {% csrf_token %}
            <p>Email: <input type="text" name="email"></p>
            <p>Password: <input type="text" name="password"></p>
            <button type="submit">Log in</button>
        </form>
    </div>
    <div class="errors">
        {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>