<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <h3>Thank you for your business!</h3>
    <p>We charged your credit card for $ {{request.session.price_form}}</p>
    <p>You have ordered {{request.session.count}} items so far and spent ${{request.session.payment}} with Amadon.com!</p>
    <p><a href="/">Go Back</a></p>
</body>
</html>